@import "w3";
$colorTexto:white;
$fondoTexto:red;
.colorTexto{
    @extend .w3-indigo;
}

#encabezadoPrincipal
{
    @extend .w3-container;
    @extend .colorTexto;
    >img{
        width: 100px;
        height: 50px;
    }
    #carrito{
        img{
            width: 20px;
            height: 20px;
        }
    }
    #cuenta{

    }
    #busqueda{

    }
    #saludo{

    }
}
