// Variables comunes
$border-radius: 8px;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$hover-scale: 1.05;
$imagen-width: 300px;
$imagen-height: 300px;
.imagen {
  display: block;
  width: $imagen-width;
  height: $imagen-height;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale($hover-scale);
  }
}

.imagen2 {
  display: block;
  width: $imagen-width;
  height: $imagen-height;
  border-radius: 50%;
  box-shadow: none; // Sin sombra
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}
.imagen3 {
  display: block;
  width: $imagen-width;
  height: $imagen-height;
  border: 2px solid #f00; // Borde rojo de 2px
  box-shadow: $box-shadow;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: #00f; // Cambia el color del borde a azul al hacer hover
  }
}
.imagen4 {
  display: block;
  width: $imagen-width;
  height: $imagen-height;
  border-radius: 0;
  box-shadow: $box-shadow;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px); // Desplaza la imagen hacia arriba al hacer hover
  }
}
.imagen5 {
    display: block;
    width: $imagen-width;
    height: $imagen-height;
    border-radius: 8px;
    border: none; // Sin borde
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); // Sombra suave
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5); // Aumenta la intensidad de la sombra al hacer hover
    }
  }
  .imagen6{
    display: block;
    width: $imagen-width;
    height: $imagen-height;
    border-radius: $border-radius;
  }

  .imagen7 {
    display: block;
    width: $imagen-width;
    height: $imagen-height;
    border-radius: 50%;
  }
